/* line 1, ../../compass/sass/app.scss */
.grid, .skillscreens li {
  display: inline-block;
  margin: 5px;
}

/* line 6, ../../compass/sass/app.scss */
.info {
  position: absolute;
  background-color: blue;
  color: white;
}

/* line 12, ../../compass/sass/app.scss */
.preload {
  display: none;
}

/* line 16, ../../compass/sass/app.scss */
.ui-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
  /* add padding to account for vertical scrollbar */
  /*padding-right: 20px; */
  font-family: Arial,Helvetica,sans-serif;
  padding: 0px 0px 0px 0px;
  /* top, right ,bottom, left */
  /*padding-top:0px;*/
  /*padding-bottom: 0px;*/
  /*background-color: yellow;*/
  border-bottom: 1px;
  width: 100px;
  background: black;
  color: white;
}
