/* line 1, ../../compass/sass/app.scss */
li {
  display: inline-block;
  margin: 5px;
}

/* line 6, ../../compass/sass/app.scss */
.info {
  position: absolute;
  background-color: blue;
  color: white;
}

/* line 12, ../../compass/sass/app.scss */
.preload {
  display: none;
}
